# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Firebase / secrets
serviceAccountKey.json

# Build outputs
dist/
build/

# OS
.DS_Store
Thumbs.db

# Vite
.vite/
